@import "./reset";
@import "./colors";
@import "./fonts";
@import "./mixins";

body {
  background-color: $body-background-color;
  color: $text-color;
}

.header__image {
  width: 100%;
}

.navigation {
  max-width: 100%;

  background-color: rgb(58, 0, 0);
  border-top: 3px solid $white-text-color;
  border-bottom: 3px solid $white-text-color;
  @include become-flex;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  & a {
    color: $black-text-color;
    text-decoration: none;
    text-wrap: nowrap;
  }
  // Navigation page links
  &__list a {
    @include nav-style;
  }
  &__list a:hover {
    color: $white-text-color;
    text-decoration: underline;
  }
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}
.fixed-nav {
  position: absolute;
  width: 100%;
}
.footer {
  padding: 12px;
  background-image: linear-gradient(to bottom, $orange-color, $red-color);
  @include become-flex;

  &__text {
    @include bottom-nav-style;
  }
  & img {
    width: 30px;
  }
  & a {
    @include bottom-nav-style;
  }
  & a:hover {
    color: $white-text-color;
  }
  &__logo {
    @include bottom-logotype;
  }
  &__wrap1 {
    margin: 0;
    & a {
      margin: 0;
    }
    & img {
      margin: 0;
    }
  }
  &__wrap1,
  &__wrap3 {
    & a {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      & img {
        margin-right: 4px;
      }
    }
  }

  &__wrap2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    p {
      margin-bottom: 20px;
    }
    a {
      margin-bottom: 8px;
    }
  }
}

.index-main {
  margin-top: 48px;
  @include become-flex;
  flex-direction: column;
  &__article {
    @include become-flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    &__image {
      img {
        width: 100%;
        padding: 20px;
        border-radius: 8%;
        min-width: 300px;
      }
    }
    &__text {
      padding: 20px;
      
      h1 {
        margin-bottom: 28px;
        font-family: "Poppins";
        font-weight: 600;
        font-size: 32px;
      }
      h2 {
        margin-bottom: 24px;
        font-family: "Poppins";
        font-weight: 600;
        font-size: 28px;
      }
      p {
        margin-top: 20px;

        font-family: "Poppins";
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 1.5;
      }
      span a{
        white-space: nowrap;
        text-decoration: none;
        color:$orange-color;
        font-weight: 600;
        transition: text-decoration 0.3s ease-in-out;
      }
      span a:hover{
        text-decoration: underline;
      }
      span a:active{
        color: $yellow-color;
      }
    }
  }
}
.order-main{
  margin-top: 48px;
  &__client-info{
    padding-left: 28px;
    
    @include become-flex;
    justify-content: start;
    legend{
      padding-left: 28px;
    }
    label{
      margin-left: 12px;

    }
  }
}
