/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins-v20-latin-regular.woff2");
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/poppins-v20-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* cormorant-garamond-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/cormorant-garamond-v16-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* damion-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Damion";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/damion-v14-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  background-color: rgb(30, 30, 30);
  color: rgb(190, 190, 190);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.header__image {
  width: 100%;
}

.navigation {
  max-width: 100%;
  background-color: rgb(58, 0, 0);
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 20px;
}
.navigation a {
  color: black;
  text-decoration: none;
  text-wrap: nowrap;
}
.navigation__list a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  margin: 0px 12px 0px 12px;
  padding-left: 20px;
}
.navigation__list a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.fixed-nav {
  position: absolute;
  width: 100%;
}

.footer {
  padding: 12px;
  background-image: linear-gradient(to bottom, #bf7300, #a60000);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__text {
  color: black;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  margin: 0px 12px 0px 12px;
}
.footer img {
  width: 30px;
}
.footer a {
  color: black;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  margin: 0px 12px 0px 12px;
}
.footer a:hover {
  color: #ffffff;
}
.footer__logo {
  color: black;
  font-family: "Damion";
  font-size: 36px;
}
.footer__wrap1 {
  margin: 0;
}
.footer__wrap1 a {
  margin: 0;
}
.footer__wrap1 img {
  margin: 0;
}
.footer__wrap1 a, .footer__wrap3 a {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.footer__wrap1 a img, .footer__wrap3 a img {
  margin-right: 4px;
}
.footer__wrap2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.footer__wrap2 p {
  margin-bottom: 20px;
}
.footer__wrap2 a {
  margin-bottom: 8px;
}

.index-main {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.index-main__article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
}
.index-main__article__image img {
  width: 100%;
  padding: 20px;
  border-radius: 8%;
  min-width: 300px;
}
.index-main__article__text {
  padding: 20px;
}
.index-main__article__text h1 {
  margin-bottom: 28px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 32px;
}
.index-main__article__text h2 {
  margin-bottom: 24px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 28px;
}
.index-main__article__text p {
  margin-top: 20px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.index-main__article__text span a {
  white-space: nowrap;
  text-decoration: none;
  color: #bf7300;
  font-weight: 600;
  transition: -webkit-text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
}
.index-main__article__text span a:hover {
  text-decoration: underline;
}
.index-main__article__text span a:active {
  color: #FFCD42;
}

.order-main {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: start;
  align-items: start;
}
.order-main__client-info, .order-main__order-dish-info {
  border: 4px solid rgb(190, 190, 190);
  border-radius: 5%;
  padding: 28px;
  padding-right: 36px;
  margin: 28px;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.order-main__client-info .legend, .order-main__order-dish-info .legend {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
}
.order-main__client-info label, .order-main__order-dish-info label {
  margin-left: 12px;
  margin-bottom: 20px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 4px;
}
.order-main__client-info label p, .order-main__order-dish-info label p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 4px;
}
.order-main__client-info .wrong-input, .order-main__order-dish-info .wrong-input {
  color: red;
}
.order-main__client-info .wrong-input input,
.order-main__client-info .wrong-input select,
.order-main__client-info .wrong-input textarea, .order-main__order-dish-info .wrong-input input,
.order-main__order-dish-info .wrong-input select,
.order-main__order-dish-info .wrong-input textarea {
  border: 2px solid red;
}
.order-main__client-info input,
.order-main__client-info select,
.order-main__client-info textarea, .order-main__order-dish-info input,
.order-main__order-dish-info select,
.order-main__order-dish-info textarea {
  margin-bottom: 16px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  width: 250px;
  border: 2px solid rgb(30, 30, 30);
}
.order-main__client-info input:focus,
.order-main__client-info select:focus,
.order-main__client-info textarea:focus, .order-main__order-dish-info input:focus,
.order-main__order-dish-info select:focus,
.order-main__order-dish-info textarea:focus {
  outline: none;
  border-color: rgb(30, 30, 30);
}
.order-main__client-info textarea, .order-main__order-dish-info textarea {
  resize: none;
  font-size: 12px;
}
.order-main__client-info button, .order-main__order-dish-info button {
  width: 115px;
  height: 30px;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
}
.order-main__client-info button:hover, .order-main__order-dish-info button:hover {
  background-image: linear-gradient(to bottom, #bf7300, #a60000);
  color: #ffffff;
}
.order-main__client-info button:active, .order-main__order-dish-info button:active {
  background-image: none;
  background-color: #a60000;
  color: #ffffff;
}
.order-main__orders {
  width: 100%;
}
.order-main__orders h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  margin-bottom: 32px;
}
.order-main__orders__list__dish-menu {
  max-width: 450px;
  max-height: 250px;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
.order-main__orders__list__dish-menu__image {
  width: 100%;
  height: 100%;
  grid-column: 1/4;
  grid-row: 1/4;
  border: 2px solid white;
}
.order-main__orders__list__dish-menu__name {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  grid-column: 4/10;
  grid-row: 1/2;
  font-size: 24px;
  padding-top: 12px;
  text-align: center;
}
.order-main__orders__list__dish-menu__amount {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  font-size: 20px;
  padding-top: 14px;
  height: 100%;
  grid-column: 4/7;
  grid-row: 2/3;
}
.order-main__orders__list__dish-menu__amount span {
  font-weight: 600;
}
.order-main__orders__list__dish-menu__summary {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  grid-column: 4/10;
  grid-row: 3/4;
  font-size: 24px;
  padding-top: 12px;
  font-weight: 400;
}
.order-main__orders__list__dish-menu__summary span {
  font-weight: 400;
}
.order-main__orders__list__dish-menu__decrease, .order-main__orders__list__dish-menu__remove, .order-main__orders__list__dish-menu__increase, .order-main__orders__list__dish-menu__edit-request, .order-main__orders__list__dish-menu__clean-request {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: rgb(190, 190, 190);
  font-family: "Poppins";
  border: 2px solid white;
  cursor: pointer;
}
.order-main__orders__list__dish-menu__increase {
  grid-column: 7/8;
  grid-row: 2/3;
  background-color: #008000;
  color: black;
  font-weight: 600;
  font-size: 24px;
}
.order-main__orders__list__dish-menu__increase:hover {
  background-color: #00d700;
}
.order-main__orders__list__dish-menu__increase:active {
  background-color: #008000;
}
.order-main__orders__list__dish-menu__decrease {
  grid-column: 8/9;
  grid-row: 2/3;
  background-color: #bf7300;
  color: black;
  font-weight: 600;
  font-size: 24px;
}
.order-main__orders__list__dish-menu__decrease:hover {
  background-color: #ff9900;
}
.order-main__orders__list__dish-menu__decrease:active {
  background-color: #bf7300;
}
.order-main__orders__list__dish-menu__remove {
  grid-column: 9/10;
  grid-row: 2/3;
  background-color: #a60000;
  color: black;
  font-weight: 600;
  font-size: 24px;
}
.order-main__orders__list__dish-menu__remove:hover {
  background-color: #ff0000;
}
.order-main__orders__list__dish-menu__remove:active {
  background-color: #a60000;
}
.order-main__orders__list__dish-menu__edit-request {
  grid-column: 9/10;
  grid-row: 4/5;
  background-color: #bf7300;
}
.order-main__orders__list__dish-menu__edit-request img {
  padding: 5%;
  border: none;
}
.order-main__orders__list__dish-menu__edit-request:hover {
  background-color: #ff9900;
}
.order-main__orders__list__dish-menu__edit-request:active {
  background-color: #bf7300;
}
.order-main__orders__list__dish-menu__clean-request {
  grid-column: 9/10;
  grid-row: 5/6;
  background-color: #a60000;
}
.order-main__orders__list__dish-menu__clean-request img {
  padding: 5%;
  border: none;
}
.order-main__orders__list__dish-menu__clean-request:hover {
  background-color: #ff0000;
}
.order-main__orders__list__dish-menu__clean-request:active {
  background-color: #a60000;
}
.order-main__orders__list__dish-menu__request {
  grid-row: 4/6;
  grid-column: 1/9;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  background-color: rgb(68, 68, 68);
  color: rgb(190, 190, 190);
  resize: none;
}
.order-main__orders__list__dish-menu__request:focus {
  outline: none;
}

.editable {
  background-color: rgb(30, 30, 30);
}/*# sourceMappingURL=index.css.map */