@import "./reset";
@import "./colors";
@import "./fonts";
@import "./mixins";

body {
  background-color: $body-background-color;
  color: $text-color;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.header__image {
  width: 100%;
}

.navigation {
  max-width: 100%;

  background-color: rgb(58, 0, 0);
  border-top: 3px solid $white-text-color;
  border-bottom: 3px solid $white-text-color;
  @include become-flex;
  padding: 10px;
  padding-right: 20px;
  & a {
    color: $black-text-color;
    text-decoration: none;
    text-wrap: nowrap;
  }
  // Navigation page links
  &__list a {
    @include nav-style;
    padding-left: 20px;
  }
  &__list a:hover {
    color: $white-text-color;
    text-decoration: underline;
  }
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}
.fixed-nav {
  position: absolute;
  width: 100%;
}
.footer {
  padding: 12px;
  background-image: linear-gradient(to bottom, $orange-color, $red-color);
  @include become-flex;

  &__text {
    @include bottom-nav-style;
  }
  & img {
    width: 30px;
  }
  & a {
    @include bottom-nav-style;
  }
  & a:hover {
    color: $white-text-color;
  }
  &__logo {
    @include bottom-logotype;
  }
  &__wrap1 {
    margin: 0;
    & a {
      margin: 0;
    }
    & img {
      margin: 0;
    }
  }
  &__wrap1,
  &__wrap3 {
    & a {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      & img {
        margin-right: 4px;
      }
    }
  }

  &__wrap2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    p {
      margin-bottom: 20px;
    }
    a {
      margin-bottom: 8px;
    }
  }
}

.index-main {
  margin-top: 48px;
  @include become-flex;
  flex-direction: column;
  &__article {
    @include become-flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    &__image {
      img {
        width: 100%;
        padding: 20px;
        border-radius: 8%;
        min-width: 300px;
      }
    }
    &__text {
      padding: 20px;

      h1 {
        margin-bottom: 28px;
        font-family: "Poppins";
        font-weight: 600;
        font-size: 32px;
      }
      h2 {
        margin-bottom: 24px;
        font-family: "Poppins";
        font-weight: 600;
        font-size: 28px;
      }
      p {
        margin-top: 20px;

        font-family: "Poppins";
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 1.5;
      }
      span a {
        white-space: nowrap;
        text-decoration: none;
        color: $orange-color;
        font-weight: 600;
        transition: text-decoration 0.3s ease-in-out;
      }
      span a:hover {
        text-decoration: underline;
      }
      span a:active {
        color: $yellow-color;
      }
    }
  }
}
.order-main {
  margin-top: 48px;
  @include become-flex;
  justify-content: start;
  align-items: start;

  &__client-info,
  &__order-dish-info {
    border: 4px solid $text-color;
    border-radius: 5%;
    padding: 28px;
    padding-right: 36px;
    margin: 28px;
    margin-top: 0;
    @include become-flex;
    justify-content: start;
    flex-direction: column;
    .legend {
      font-family: "Poppins";
      font-weight: 400;
      font-size: 24px;
      margin-bottom: 20px;
    }
    
    label {
      margin-left: 12px;
      margin-bottom: 20px;
      p {
        font-family: "Poppins";
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 4px;
      }
      font-family: "Poppins";
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 4px;
    }
    input,
    select,
    textarea {
      margin-bottom: 16px;
      font-family: "Poppins";
      font-weight: 400;
      font-size: 16px;
      width: 250px;
    }
    textarea{
      resize: none;
      font-size: 12px;

    }
    
  }
  &__orders{
    width: 100%;
    h1{
      font-family: "Poppins";
      font-weight: 600;
      font-size: 36px;
      text-align: center;
      margin-bottom: 32px;
    }

    &__list{
      &__example{
        max-width: 450px;
        max-height: 200px;
        display: grid;

        grid-template-rows: 22px 22px 28px 128px;
        grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
        &__image{
          width: 100%;
          height: 100%;
          grid-column: 1/5;
          grid-row: 1/5;
          border: 2px solid white;
        }
        &__dish-name{
          width: 100%;
          height: 100%;
          border: 2px solid white;

          grid-column: 5/10;
          grid-row: 1/2;
        }
        &__dish-amount{
          width: 100%;
          height: 100%;
          border: 2px solid white;

          height: 100%;
          grid-column: 5/7;
          grid-row: 2/3;
        }
        
        &__dish-decrease,
        &__dish-remove,
        &__dish-increase{
          width: 100%;
          height: 100%;
          border: none;
          background-color: transparent;
          color: $text-color;
          font-family: "Poppins";
          font-weight: 600;
          font-size: 24px;
        }
        &__dish-increase{
          width: 100%;
          height: 100%;
          border: 2px solid white;

          grid-column: 7/8;
          grid-row: 2/3;
        }
        &__dish-decrease{
          border: 2px solid white;

          grid-column: 8/9;
          grid-row: 2/3;
        }
        &__dish-remove{
          border: 2px solid white;

          
          grid-column: 9/10;
          grid-row: 2/3;
        }
        &__dish-summary{
          width: 100%;
          height: 100%;
          border: 2px solid white;
          grid-column: 5/10;
          grid-row: 3/4;
        }
        &__dish-comments{
          grid-row:4/5;
          grid-column: 5/10;
          width: 100%;
          height: 100%;
          border: 2px solid white;
        }
      }

    }
  }

  
}
